{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"overrides": [
		{
			"files": ["**/*.md", "**/*.json"],
			"options": {
				"useTabs": false
			}
		}
	]
}