* {
	box-sizing: border-box;
}
body {
	font-family: system-ui, sans-serif;
	font-weight: 500;
	display: grid;
	place-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}
stop-watch {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px 10px;
}
stop-watch p {
	font-size: 1.8rem;
	grid-column: span 2;
	margin: 0;
}
stop-watch button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: black;
	background-color: #efefef;
	border: 2px solid #000;
	border-radius: 8px;
	padding: 6px 10px;
	margin-right: 4px;
}
stop-watch button:hover,
stop-watch button:active {
	cursor: pointer;
	background-color: #e6e6e6;
}
